spring:
  datasource:
    url: jdbc:postgresql://localhost:5435/supareel_dev_db
    username: username
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    show-sql: false
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  mail:
    host: localhost
    port: 1025
    username: mandal
    password: mandal
    properties:
      mail:
        smtp:
          trust: "*"
        auth: true
        starttls:
          enabled: true
        connectiontimeout: 5000
        timeout: 3000
        writetimeout: 5000
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: "http://localhost:9090/realms/supareel"
application:
  security:
    jwt:
      expiration: 8640000
      secret-key: "KSRLnnbwxYnfc8YsEXpCkz2IHWCIVhw6ppkm34Szpewsh2OSmx2czDPVO1Pcqw1GtkDQnd942RfEj/qs"
    mailing:
      frontend:
        activation-url: http://localhost:4200/activate-account
  file:
    uploads:
      photos-output-path: ./uploads
server:
  port: 8088